<p id="notice"><%= notice %></p>

<h1>Discussioms</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @discussioms.each do |discussiom| %>
      <tr>
        <td><%= discussiom.title %></td>
        <td><%= discussiom.content %></td>
        <td><%= link_to 'Show', discussiom %></td>
        <td><%= link_to 'Edit', edit_discussiom_path(discussiom) %></td>
        <td><%= link_to 'Destroy', discussiom, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Discussiom', new_discussiom_path %>
